<form class="well" action="/admin/users/login" method="post">
<% if (flash) { %>
	<% if (flash.error) { %>
		<p class="alert alert-error"><%= flash.error %></p>
	<% } %>
<% } %>

    <label>E-Mail Adresse:</label>
    <input type="text" name="username" class="span3" placeholder="user@konexmedia.com">

    <label>Passwort:</label>
    <input type="password" name="password" class="span3">

    <div>
  	    <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>