<section>
	<header>
		<h1>Über den SocialProxy</h1>
	</header>
	<p>Der SocialProxy ist eine App zur zentralisieren Verwaltung von SocialMedia Accounts mehrerer Kunden.</p>

	<p>Version: <%= meta.version %> - <%= meta.author %></p>
</section>
