<!DOCTYPE html>
<html>
  <head>
    <title>SocialProxy - Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
  	<header class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
  		  <div class="container-fluid">
  		  	<a class="brand" href="#">
  		  	  SocialProxy
  		  	</a>
  		  	by Konex Media
  		  	<p class="navbar-text pull-right">Angemeldet als <%= userSession.name.first %> <%= userSession.name.last %></p>
  		  </div>
  		</div>
  	</header>

  	<div class="container-fluid">
  	    <div class="row-fluid">
  	        <div class="span3">
  	            <div class="well sidebar-nav">
  	                <ul class="nav nav-list">
  	                    <li class="nav-header">Menü</li>
  	                    <li>
  	                    	<a href="/admin"><i class="icon-home"></i> Home</a>
  	                    </li>
  	                    <li>
  	                    	<a href="/admin/customers"><i class="icon-list"></i> Kundenverwaltung</a>
  	                    </li>
  	                    <li class="nav-header">Administration</li>
  	          			<li>
  	          				<a href="/admin/users"><i class="icon-user"></i> Benutzerverwaltung</a>
  	          			</li>
  	          			<li class="divider"></li>
  	          			<li>
  	          				<a href="/admin/about"><i class="icon-question-sign"></i> Über</a>
  	          			</li>
  	        		</ul>
  	      		</div>
  	    	</div>

  	    	<div class="span9">
	  	    	<%- body %>
  	    	</div>
  	    </div>
  	</div>

</body>
</html>