<!doctype html>
<html>
  <head>
    <title>SocialProxy - Administration » Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
  	<header class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
  		  <div class="container">
  		  	<a class="brand" href="#">
  		  	  SocialProxy
  		  	</a>
           by Konex Media
  		  </div>
  		</div>
  	</header>
    <%- body %>
  </body>
</html>